  .Home .lander {
    /* padding: 80px; */
    text-align: center;
    margin-bottom: -30px;
    
  }
  
  .Home .lander h1 {
    font-family: 'Sorts Mill Goudy', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 42px;
    line-height: 49px;
  }
  
  .Home .lander p {
    color: white;
    font-weight: 400;
    
  }


  

  /* @Dave Hurley Need help with this piece. trying to add modena_home.jpg as background pic  */
  .jumbotron {
    background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ), url("https://wholesale-ls-marketing.s3.amazonaws.com/Modena+Home+House.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 100%;
  }

  .jumbotron .container {
    margin-top: 150px;
    max-width: 530px;
    text-align: center;
  }

  .jumbotron .container .h1 .p {
    color: white;
    font-family: 'Sorts Mill Goudy', sans-serif;
  }
  
  .jumbotron .btn {
    color: #3ab984;
    min-height: 42px;
    padding: 12px 20px 11px;
    border-style: solid;
    border-width: 2px;
    border-color: #3ab984;
    border-radius: 25px;
    background-color: transparent;
    transition: color 200ms ease, background-color 200ms ease;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
  }

  .jumbotron .btn:hover {
    background-color: #3ab984;
    color:white;
   
  }



  .highlight-container {
    background: #3ab984;
    height: 250px;
    padding: 25px;
  }

  .highlight-container h1 {
    color: white;
    font-weight: bold;
    font-size: 42px;
  }

  .highlight-container h3 {
    color: white;
    font-weight: bold;
    font-size: 21px;
  }
  
  .highlight-container p {
    color: white;
    font-size: 16px;
  }

  .cities {
    margin-top: 70px;
    margin-bottom: 70px;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 1190px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .cities-container {
    width: 66.66666667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .places_wrapper_type_2 {
    width: 100%;
    text-align: center;
    background-position: center;
    background-size: cover;
    transition: all .4s ease;
    height: 400px;
    box-shadow: 0 4px 16px -2px rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .02);
    margin-bottom: 30px;
    
  }

  .toronto-city {
    background-image: url("https://skyhub.ca/images/1/GuidesImages/Toronto Real Estate Listings.jpg");
    height: 400px;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
  }

  .ottawa-city {
    background-image: url("https://skyhub.ca/images/1/GuidesImages/Ottawa Properties for Sale.jpg");
    height: 400px;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
  }

  .cityCards {
    /* padding: 130px; */
    margin-top: 70px; 
    margin-bottom: 70px;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 1190px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border-bottom: 1px solid #cbd2de;
    padding-bottom: 50px;
  }

  .cityCards h1 {
    color: black;
    text-align: center;
    /* margin-bottom: 10px; */
  }

  .cityCards h2 {
    color: black;
    text-align: center;
    /* margin-bottom: 10px; */
  }

  .cityCards p {
    color: black;
    text-align: center;
  }
    .card {
    background-color: white;
    transition: all 0.5s ease-in-out;
    border-radius: 0.5rem;
    margin: 12px;
    border-color: white;
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
    padding: 0px;
    border-radius: 25px;

    }

    .card:hover {
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        transform: scale(1.05);
    }
    .card-title {
      color: black;
      font-size: 30px;
      text-align: center;
      padding: 23px;
     

      }
    .card-text {
        font-size: 23px;
        text-align: center;
        background-color: light;
        margin-bottom: 10px;
    }

    .card-img {
        box-align: center;
        /* padding: 17px; */
        width: 100%;
        height: 15vw;
        object-fit: cover;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
    }






  .about-us-container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 1190px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border-bottom: 1px solid #cbd2de;
    padding-bottom: 50px;


    

  }

  .about-us-text {
    width: 80%;
  }

  .about-us-text h1 {
    position: relative;
    z-index: 1;
    font-family: Oswald, sans-serif;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .about-us-text h3 {
    margin-top: 10px;
    font-size: 26px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Sorts Mill Goudy', sans-serif;
    color: #000;


  }

  .about-us-text p {
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .about-us-text .title-underline {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 2px;
    max-width: 200px;
    background-color: #3ab984;
  }

  .about-us-text img {
    /* height: 22vw; */
    width: 150%;
  }

  .how-it-works {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 1190px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    margin-top: 70px;
  }

  .how-it-works img {
    width: 100%;
    height: 100%;
  
  }

  .how-it-works h1 {
    font-size: 13px;
    font-family: sans-serif;
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .how-it-works h3 {
    margin-top: 10px;
    font-size: 26px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Sorts Mill Goudy', sans-serif;
    color: #000;
  }


  



  .grid-template {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 1190px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-top: 10px;
    margin-bottom: 100px;
  }

  .grid-template .card-title {
    font-size: 1.8rem;
    font-weight: 300;
    font-family: "PT Serif", serif;
    line-height: 27px;
  }

  .grid-template .card-text {
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    font-family: "PT Serif", serif;
  }

  .grid-template .card {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
  }

  .grid-template .browse-property .card-img {
    height: 100%;
    width: 100%;
  }

  .grid-template .two-shelf-cards .card {
    height: 100%;
  }

  .grid-template .two-shelf-cards .card-img {
    height: 100%;
  }

 

  


  .newsletter {
    position: relative;
    overflow: hidden;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #3ab984;
  }

  .narrow-box {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 1190px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .newsletter-box {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    width: 36%;
  }

  .email-collect {
    width: 50%;
    height: 47px;
    margin-bottom: 0px;
    padding-left: 15px;
    border-style: none solid none none;
    border-width: 1px;
    border-color: #000 #469e79 #000 #000;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 13px;
  }

  .green-bg {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    width: 52%;
    height: 100%;
    background-color: #3ab984;
    -webkit-transform: skew(-15deg, 0deg);
    -ms-transform: skew(-15deg, 0deg);
    transform: skew(-15deg, 0deg);
  }

  .image-bg {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 53%;
    background-image: url(https://wholesale-ls-marketing.s3.amazonaws.com/Modena-Newsletter-Home.jpg);
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  











  .featured-property {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 1190px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }


  .featured-property h1 {
    color: black;
  }

  .featured-property .card-text {
    font-size: 10px;
    text-align: left;
    padding: 10px;
  }

