.form-control {
    min-height: 36px !important;
    border: 1px solid #d2dae2 !important;

}

.control-label {
    font-family: 'Source Sans Pro',Helvetica,Arial,serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(106,119,137,1.0);
    line-height: 18.0px;
    margin-bottom: 7px;
    margin-top: 15px;
}

.AutoComplete {
    display: block;
    width: 100%;
    margin-bottom: 0;
    color: #132042;
    font: normal 15px Open Sans, Arial, sans-serif;
    font-size: 15px !important;
    letter-spacing: 0.1px;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #d2dae2 !important;
    border-radius: 6px;
    box-shadow: 0 0 3px 0 rgba(17, 49, 96, 0.06);
    transition: background-color 0.12s linear, color 0.12s linear, border-color 0.12s linear, box-shadow 0.12s linear, padding 0.12s linear, max-height 0.12s linear;
    min-height: 36px;
    padding-left: 15px;
}

.AutoComplete-Suggestions {
    display: block;
    width: 100%;
    margin-bottom: 0;
    padding-top: 5px;
    color: #132042;
    font: normal 15px Open Sans, Arial, sans-serif;
    font-size: 15px !important;
    letter-spacing: 0.1px;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #d2dae2 !important;
    border-radius: 6px;
    box-shadow: 0 0 3px 0 rgba(17, 49, 96, 0.06);
    transition: background-color 0.12s linear, color 0.12s linear, border-color 0.12s linear, box-shadow 0.12s linear, padding 0.12s linear, max-height 0.12s linear;
    min-height: 36px;
    padding-left: 15px;
}

textarea.form-control {
    height: 94px;
}

.ViewProperty .secondary-btn {
    margin-left: -15px;
}