/* General Styling */

.Index {
  background-color: rgba(248, 248, 251, 1);
}

.Breadcrumbs {
  background-color: #fff;
  border-top: 1px solid lightgrey;
  border-bottom: 0.5px solid lightgrey;
}
.breadcrumb {
  background-color: #fff !important;
  margin: 0px;
  padding: 15px 15px;
}

/******* Filter Bar Section *******/

.Properties__Filter {
  background-color: #fff;
  border-top: 1px solid lightgrey;
  border-bottom: 0.5px solid lightgrey;
}

.Properties__Filter-Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.Properties__Filter-Container .form-group {
  margin: 12px 25px 12px 0;
}

.FilterContainer__Search-Bar {
  border-radius: 3px;
  width: 380px;
}

.Properties__Filter-Container .Dropdown-control {
  border: 1px solid #ced0da;
  border-radius: 4px;
  background: linear-gradient(0deg, #f2f4f7 0%, #ffffff 100%);
  font-weight: 600;
}

/******* Property Search List *******/

.Properties {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 700px;
}

.Properties__Results {
  padding: 0 15px;
  flex: 1 0 630px;
  height: 100%;
  overflow-y: scroll;
}

.Properties__Results-Found {
  margin-top: 20px;
  color: #7f8fa4;
  font-size: 13px;
}

.Properties h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 35px;
}

/******* Map Box Container *******/

.Properties__MapContainer {
  width: 100%;
  height: 700px;
  background-color: gray;
}

.mapboxgl-ctrl-group {
  width: 30px;
  margin: 10px 0 0 10px;
}

.markerImage {
  width: 30px;
}
