.ViewProperty {
  padding: 50px 0px;
}

.ViewProperty h1 {
  line-height: 30px;
  font-family: "Sorts Mill Goudy", sans-serif;
  color: #484848;
  font-size: 26px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
}

.ViewProperty h3 {
  font-family: "Sorts Mill Goudy", sans-serif;
  color: #484848;
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 0px;
}

.ViewProperty p {
  font-family: "Lato", sans-serif;
  color: #717171;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  white-space: pre-wrap;
}

.highlights-container {
  padding-top: 50px;
}

.highlights-container p {
  font-size: 16px;
  line-height: 20px;
  white-space: pre-wrap;
}

.ViewProperty .secondary-btn {
  width: 100%;
}

.contactCard {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.contactCard img {
  height: 100px;
  border-radius: 100px;
}
